/log/
/state/
/feed/
/backups/
/backup/
/docker/access.env
/docker/conf.env
/docker/.env
.env
/docs/generated/*
!/docs/generated/.gitkeep
/tests/generated/*
!/tests/generated/__init__.py
__pycache__/
free_access.sh
